<!DOCTYPE html>
<html>

<head>
    <meta charset="UFT-8">
    <title>药品信息管理</title>
    <link rel="stylesheet" type="text/css" href="/static/css/signInStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/css/homePage.css">
    <link rel="stylesheet" type="text/css" href="/static/css/addDrug.css">
    <script type="text/javascript" src="/static/js/jquery-3.2.1.js"></script>
</head>

<body>
    <header>
        <div class="head">
            <img src="/static/img/shizi.jpg" class="head-img left" />
            <span class="head-name">药品信息管理</span>
            <img src="/static/img/shizi.jpg" class="head-img right" />
        </div>
    </header>
    {% block main %}{% endblock %}
</body>

</html>