{% extends "base.html" %} {% block main %}

<div class="contain">
    <div class="nav">
        <ul class="fenlei">
            <li class="active">
                <a href="/drug">药品列表</a>
            </li>
            <li>
                <a >库存列表</a>
            </li>
            <li>
                <a>入库单管理</a>
            </li>
            <li>
                <a>出库单管理</a>
            </li>
            
        </ul>
    </div>
    <div>
        
    </div>
    <ul class="main-content">
        <li class="selected">
            <div class="content">
                <form method="POST" class="search-form">
                    <input type="text" name="search">
                    <button class="search-butt">搜索</button>
                </form>
                <table class="drug-tb">
                    <thead class="drug-thead">
                        <tr>
                            <th>药品编号</th>
                            <th>药品名称</th>
                            <th>科目</th>
                            <th>规格</th>
                            <th>剂型</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
            
                    </tbody>
                </table>
                <button class="addDrug">
                    <a href="/addDrugPage">添加药品</a>
                </button>
            </div>
        </li>
        <li>
            <div class="content">
                <form method="POST" class="search-form">
                    <input type="text" name="search">
                    <button class="search-butt">搜索</button>
                </form>
                <table class="inven-tb">
                    <thead class="drug-thead">
                        <tr>
                            <th>药品编号</th>
                            <th>药品名称</th>
                            <th>库存</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <div class="content">
                
                <table class="entry-tb">
                    <thead class="drug-thead">
                        <tr>
                            <th>药品编号</th>
                            <th>药品名称</th>
                            <th>入库数量</th>
                            <th>入库时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
                <button class="addDrug">
                    <a href="/entry">药品入库</a>
                </button>
            </div>
        </li>
        <li>
            <div class="content">
                
                <table class="output-tb">
                    <thead class="drug-thead">
                        <tr>
                            <th>药品编号</th>
                            <th>药品名称</th>
                            <th>出库数量</th>
                            <th>出库时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
                <button class="addDrug">
                    <a href="/output">药品出库</a>
                </button>
            </div>
        </li>
    </ul>
    
</div>

<script type="text/javascript">
    $(function () {
        var $navList = $(".fenlei li");
        $navList.click(function () {
            $(this).addClass("active")
                .siblings().removeClass("active");
            $(".main-content >li").eq($(this).index()).addClass("selected")
            .siblings().removeClass("selected");
            
        })
        $(".search-butt").click(function(){
            $.ajax({
                url: '/searchDrug',
                data: $("form").serialize(),
                type: 'POST',
                dataType:'json',
                success: function (msg){
                    if(msg.data==-1){
                        $("tbody").empty();
                        $("tbody").append("未查询到该药品！")
                    }else{
                        $("tbody").empty();
                        var drugList=msg.data;
                        console.log(drugList)
                        for(var i=0;i<drugList.length;i++){
                            $("tbody").append("<tr><th>"+drugList[i].number+"</th><th>"+drugList[i].medicine+"</th><th>"+drugList[i].subject+
                            "</th><th>"+drugList[i].specification+"</th><th>"+drugList[i].dosageform+
                            "</th><th><button><a >修改</a></button><button>删除</button></th></tr>")
                        }
                    }
                }
            })
            return false;
        });

        
    })

    $(function(){
        $.ajax({
            url: "/drug",
            type: "POST",
            data: {},
            dataType: "json",
            success: function (msg) {
                var $tbody = $(".drug-tb tbody");
                var drugList=msg.data;
                for(var i=0;i<drugList.length;i++){
                    $tbody.append("<tr><th>"+drugList[i].number+"</th><th>"+drugList[i].medicine+"</th><th>"+drugList[i].subject+
                        "</th><th>"+drugList[i].specification+"</th><th>"+drugList[i].dosageform+
                        "</th><th><button>修改</button><button>删除</button></th></tr>")
                }
            }
        });

        $.ajax({
            url:"/inventory",
            type:"POST",
            data: {},
            dataType: "json",
            success:function(msg){
                var $tbody = $(".inven-tb tbody");
                var inventoryList=msg.data;
                for(var i=0;i<inventoryList.length;i++){
                    $tbody.append("<tr><th>"+inventoryList[i].number+"</th><th>"+inventoryList[i].medicine+
                        "</th><th>"+inventoryList[i].inventory+"</th></tr>")
                }
            }
        })

        $.ajax({
            url:"/entryList",
            type:"POST",
            data: {},
            dataType: "json",
            success:function(msg){
                var $tbody= $(".entry-tb tbody");
                var entryList=msg.data;
                for(var i=0;i<entryList.length;i++){
                    $tbody.append("<tr><th>"+entryList[i].number+"</th><th>"+entryList[i].medicine+"</th><th>"+
                    entryList[i].quantity+"</th><th>"+entryList[i].date+"</th></tr>")
                }
            }
        })

        $.ajax({
            url:"/outputList",
            type:"POST",
            data: {},
            dataType: "json",
            success:function(msg){
                var $tbody= $(".output-tb tbody");
                var outputList=msg.data;
                for(var i=0;i<outputList.length;i++){
                    $tbody.append("<tr><th>"+outputList[i].number+"</th><th>"+outputList[i].medicine+"</th><th>"+
                        outputList[i].quantity+"</th><th>"+outputList[i].date+"</th></tr>")
                }
            }
        })
    })
</script> 

{% endblock %}