
{% extends "base.html" %} {% block main %}
<div class="in-container">
    <div class="img-container">
        <img src="/static/img/drug.jpg">
    </div>
    <div class="form-container">
        <form method="POST">
            <div>
                <div>
                    <input placeholder="用户名" class="signMes" name="name">
                </div>
                <div>
                    <input placeholder="密码" type="password" class="signMes" name="password">
                    <span class="text-error"></span>
                    <span class="success"></span>
                </div>
            </div>

            <button type="submit" class="signButt">登录</button>
            <a class="login" href="/loginPage">注册新用户</a>
        </form>
    </div>
</div>

<script>
    $(function(){
        $(".signButt").click(function(){
            $.ajax({
                url: '/',
                data: $("form").serialize(),
                type: 'POST',
                dataType:'json',
                success: function (msg) {
                    if (msg.data == -1) {
                        $(".text-error").text('用户名为空或用户不存在！');
                        setTimeout(()=>{
                            $(".text-error").text("")
                        },2000);
                    }else if(msg.data == -2){
                        $(".text-error").text('密码不为空或密码错误！');
                        setTimeout(()=>{
                            $(".text-error").text("")
                        },2000);
                        $(".signMes").val("");
                    }else{
                        $(".success").text("登录成功！");
                        setTimeout(()=>{
                            $(".success").text("")
                        },2000);
                        setTimeout(()=>{
                            window.location.href = "/drug";
                        },1000);
                    }
                }
            })
            return false;
        })
    })
</script>
{% endblock %}