*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
}
a{
	text-decoration: none;
}
.head{
	width:100%;
	height:auto;
	background-color: #0044BB ;
}
.head-img{
	width:10%;
	height: auto;
}
.right{
	float:right;
}
.head-name{
	display: inline-block;
	font-size: 60px;
	font-weight: bold;
	width:79%;
	text-align: center;
	line-height: 140px;
	color: 	#CCDDFF ;

}
.contain{
	width: 100%;
}
.nav{
	width:20%;
	float: left;
	background-color:white;
}
.nav .fenlei{
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav .fenlei li a{
	display: inline-block;
	width: 100%;
	height: 50px;
	line-height: 50px;
/*	padding-left: 30px;*/
	font-size: 20px;
	font-weight:bold;
	color: #0044BB;
	text-align: center;
}
.nav .fenlei .active{
	background-color:  #CCDDFF;
}
.main-content li{
	display: none;
}
.main-content .selected{
	display: inline-block;
}
.nav .fenlei .active a{
	color: #0044BB;
}
.main-content{
	float: left;
	width:80%;
}
.content{
	width:100%;
	padding-left: 40px;
}
.search-form{
	float: right;
	margin-top: 20px;
}
.search-form input{
	width: 300px;
	height: 30px;
}
.search-form button{
	height: 30px;
	width: 50px;
	margin-left: 10px;
	margin-right: 10px;
}
.drug-tb{
	width: 100%;
}
.drug-tb tr th{
	height:50px;
	width: 16%;
	font-weight: normal;
}
.drug-thead tr th{
	font-weight: bold;
}
.addDrug{
	width: 70px;
	height: 40px;
	float: right;
	margin-right: 10px;
}